#tablestyle {
    background-color: rgba(46, 44, 44, 0.596);
    color: chartreuse;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}